.dark {
    background: #817575;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.lightgreen {
    background: lightgreen;
}

.lightgreen-text {
    color: darkslateblue;
}

.yellow {
    background: yellow;
}

.yellow-text {
    color: darkslateblue;
}

.blue {
    background: #0747e7;
}

.blue-text {
    color: aliceblue;
}