.select, .select option {
    appearance: none;
    background-color: #ffa500;
    border-color: transparent;
    width: 100%;
    padding: 1px 1em 1px 1em;
    font-family: inherit;
    font-size: inherit;
    font-weight: 1000;
    cursor: pointer;
    line-height: inherit;
    overflow: hidden;
    border-radius: 2px;
    color: #555;
    text-overflow: ellipsis;
}

.select:hover {
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.1);
}

.select option:not(:checked) {
    font-weight: 400;
}
