.checkbox {
    vertical-align: bottom;
    width: 1em; height: 1em;
    background: green;
    font-size: medium;
}

.checkbox:checked {
    vertical-align: bottom;
    font-size: 1.2em;
}


.spanClassName {
    font-style: italic;
}