.header {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.navbar {
    width: 15vw;
    min-width: fit-content;
    min-height: 100%;
    background-color: #72b4ee;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform .3s;
    overflow: auto;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.hidden {
    transform: translate3d(-100%, 0, 0);
}

.shown {
    transform: translate3d(0, 0, 0);
    overflow-y: auto;
}

.navbar a {
    background-color: #5c6792;
    width: 70%;
    padding: 5px 0;
    min-height: fit-content;
    margin: 10px auto;
    border-radius: 5px;
    font-size: medium;
    color: white;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    text-decoration: whitesmoke;
}

.navbar a:visited, a:active, a:focus {
    background-color: #6490b1;
    padding: 5px;
}

.btn {
    height: 30px;
    width: 50px;
    padding: 5px;
    border: 1px solid #3a6d99;
    background: url("./menu.png") no-repeat center;
    background-size: 50px 30px;
}