.someClass {
    display: block;
}

.error {
    border: 1px solid red;
}

.errorMessage {
    color: red;
    font-size: small;
}

.addBtn {
    width: 60px;
    margin: 1px;
    border-radius: 5px;
    background-color: grey;
    border: 1px solid grey;
    color: white;
}

.addBtn:active {
    background-color: green;
    width: 60px;
    margin: 1px;
    border-radius: 5px;
    border: 1px solid green;
    color: white;
}